/*Color

--main-color#2d4059;

*/

/*Allow to change the color where the color variable is*/
:root{
--main-color:#2d4059;
--secondary-color:#ffb400;
--ternary-color:#f6f6f6;
--four-color:#ea5455;
}


* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the title and description */

#title,
#form-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

#description {
    text-align: center;
}



/*Color and size of the form*/

.form-container {
    border-radius: 5px;
    padding: 20px;
    width: 800px;
    line-height: 1.5em;
    background-color: var(--main-color);
    color: #f6f6f6;
}


/*name, email, age and questions*/

label {
    display: block;
    text-align: right;
}

#name-label,
#email-label,
#number-label {
    padding-top: 0.5em;
}


/*Input boxes*/

#name,
#email,
#age,
select {
    width: 200px;
    height: 40px;
    padding: 0.5em;
    box-sizing: border-box;
    margin: 2px 0;
    border: none;
}

input[type=text] {
    background-color: #f6f6f6;
    color: var(--main-color);
}


/*input:invalid {
    border: 2px solid #ea5455;
}*/


/* Submit Button*/

button {
    margin: 4px 2px;
    padding: 8px 16px;
    border: none;
    background: #ffb400;
    color: #2d4059;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 4px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.submit-button {
    text-align: center;
}


/*Comments Textarea */

textarea {
    width: 300px;
    height: 100px;
}


/* Container for flexboxes */

.row {
    display: -webkit-flex;
    display: flex;
}


/* Create three equal columns that sits next to each other */

.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
}

/* Style the footer */

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 2em;
    text-align: center;
}


/*Style My name at the footer*/

span {
    font-family: 'Marck Script', cursive;
    font-size: 1.6em;
}



