* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}



/* Style the title and description */

#title,
#form-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

#description {
    text-align: center;
}


/*Color and size of the form*/

.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 850px;
    line-height: 1.5em;
    background-color: #2d4059;
    color: #f6f6f6;
}


/*name, email, age and questions*/

label {
    display: block;
    text-align: right;
}

#name-label,
#email-label,
#number-label {
    padding-top: 0.5em;
}


/*Input boxes*/

#name,
#email,
#age,
select {
    width: 200px;
    height: 40px;
    padding: 0.5em;
}

/*input:invalid {
    border: 2px solid #ea5455;
}*/


/* Submit Button*/

button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #ffb400;
    color: #2d4059;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 4px;
    font-weight: 600;
}

.submit-button {
    text-align: center;
}



/*Comments Textarea */

textarea {
    width: 300px;
    height: 100px;
}





/* Container for flexboxes */

.row {
    display: -webkit-flex;
    display: flex;
}






/* Create three equal columns that sits next to each other */

.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;

    /* height: 300px; */
    /* Should be removed. Only for demonstration */
}





/* Style the footer */

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 2em;
    text-align: center;
}



/*Style My name*/

span {
    font-family: 'Marck Script', cursive;
    font-size: 1.6em;
}









/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media (max-width: 600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}